@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    border: solid 2px #767183;
    @apply  py-1 px-3 bg-slate-400 hover:text-white hover:bg-black hover:scale-110
    transition-all ease-in-out duration-300 rounded-lg text-xl
  }
  

}

@layer base {
  html {
    @apply h-full
  }

  body {
    @apply h-full bg-indigo-50 
  }
}

#__next {
  height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
  background: indigo; 
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}